{% extends 'layouts/layout_base.html' %}

{% block css.custom %}
  <link rel='stylesheet' href='/static/css/covmanager.css'>
{% endblock css.custom %}

{% block title %}{% if diff_api %}Collection Diff{% else %}{{ collectionid }} - Browse{% endif %}{% endblock title %}

{% block body_content %}
<collectionsbrowse
  {% if diff_api %}
  	ISDIFF = true
  	APIURL = "{% url 'covmanager:collections_diff_api' "" %}"
    GETPARAMS = "ids={{ ids|join:"," }}"
  {% else %}
    ISDIFF = false
    APIURL = "{% url 'covmanager:collections_browse_api' collectionid "" %}"
  	GETPARAMS = null
  	COLLECTIONID = "{{ collectionid }}"
  {% endif %}
/>

{% endblock body_content %}
