{% extends 'layouts/layout_base.html' %}

{% block css.custom %}
  <link rel='stylesheet' href='/static/css/covmanager.css'>
{% endblock css.custom %}

{% block title %}Collections{% endblock title %}

{% block body_content %}
<collectionslist
     URLS = {
          collections_api: "{% url 'covmanager:collections_api' %}",
          diff: "{% url 'covmanager:collections_diff' %}",
          patch: "{% url 'covmanager:collections_patch' %}",
          aggregate: "{% url 'covmanager:collections_aggregate_api' %}",
          repository_search : "{% url 'covmanager:repositories_search_api' %}",
          tools_search : "{% url 'covmanager:tools_search_api' %}",
      }
/>

{% endblock body_content %}
