{% extends 'layouts/layout_base.html' %}

{% block css.custom %}
  <link rel='stylesheet' href='/static/css/covmanager.css'>
{% endblock css.custom %}

{% block title %}Collection Patch Information{% endblock title %}

{% block body_content %}
<collectionspatch
  APIURLS = {
   repository_search : "{% url 'covmanager:repositories_search_api' %}",
   collections : "{% url 'covmanager:collections_api' %}",
   collections_patch_api : "{% url 'covmanager:collections_patch' %}" + "api/",
   browse: "{% url 'covmanager:collections_browse' 0 %}", // TODO: It would be nice to solve this more cleanly
  }
/>
{% endblock body_content %}
