{% extends 'layouts/layout_base.html' %}

{% block css.custom %}
  <link rel='stylesheet' href='/static/css/covmanager.css'>
{% endblock css.custom %}

{% block title %}Reports{% endblock title %}

{% block body_content %}
<collectionsreport
  URLS = {
    collections_api: "{% url 'covmanager:collections_api' %}",
    reports_api: "{% url 'covmanager:reports_api' %}",
    diff: "{% url 'covmanager:collections_diff' %}",
    patch: "{% url 'covmanager:collections_patch' %}",
  }
  unrestricted = false;
  {% if perms.crashmanager.view_crashmanager %}
	unrestricted = true;
  {% endif %}
/>

{% endblock body_content %}
