{% extends 'layouts/layout_base.html' %}

{% block css.custom %}
  <link rel='stylesheet' href='/static/css/covmanager.css'>
{% endblock css.custom %}

{% block title %}Report Configurations{% endblock title %}

{% block body_content %}
<reportconfigurationslist
   URLS = {
        repository_search : "{% url 'covmanager:repositories_search_api' %}",
        rc_list : "{% url 'covmanager:reportconfigurations_list_api' %}",
        rc_create : "{% url 'covmanager:reportconfigurations_create_api' %}"
    }
/>
{% endblock body_content %}
