{% extends 'layouts/layout_base.html' %}

{% block css.custom %}
  <link rel='stylesheet' href='/static/css/covmanager.css'>
  <style>
    text {
      font: 12px sans-serif;
    }
    tspan:last-child {
      font-size: 10px;
      fill-opacity: 0.8;
    }
    .node rect {
      shape-rendering: crispEdges;
      stroke: #2B2B2B;
    }
    .node--hover rect {
      stroke: #000000;
    }
  </style>
{% endblock css.custom %}

{% block title %}{{ collectionid }} - Summary{% endblock title %}

{% block body_content %}
<reportconfigurationssummary
    URLS = {
        rs_api : "{% url 'covmanager:collections_reportsummary_api' collectionid %}",
        html_url : "{% url 'covmanager:collections_reportsummary_html_list' collectionid %}",
    }
/>
{% endblock body_content %}
